.container
    .row
        .col-xs-12
            %h1 Witaj w Company Library!
            %h3 Co chcesz dziś przeczytać?
        
    .row
        .col-xs-12.text-center
            -unless current_user
                = link_to "Zaloguj się i coś wypożycz", "/auth/google_oauth2", id: "sign_in", class: "btn btn-info btn-lg"
            - else
                = link_to "Szukaj książek", books_path, class: "btn btn-info btn-lg"

    